nav{
    background-color: black;
    height: 100px;
	justify-content: center;
    display: flex;
    
}

.flex{
    width: 60%;
    display: flex;
    margin: auto;
    flex-direction: row-reverse;
    justify-content: center;
    margin-left: 60%;
}
.flex-child{
    margin: auto 10px;
    align-items: center;
    
}

img{
    height: 80%;
    margin-top: 9px;
    margin-left: 30px;
}

.navbar div a {
    color: #ffffff; /* Couleur noire */
    font-weight: bold; /* Texte en gras */
    text-decoration: none; /* Pas de soulignement */
  }
  